[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "climate_learn"
version = "0.0.1"
authors = [
    { name = "Hritik Bansal", email = "hbansal@g.ucla.edu" },
    { name = "Shashank Goel", email = "shashankgoel@g.ucla.edu" },
    { name = "Jason Jewik", email = "jason.jewik@cs.ucla.edu" },
    { name = "Siddharth Nandy", email = "sidd.nandy@gmail.com" },
    { name = "Tung Nguyen", email = "tungnd@g.ucla.edu" },
    { name = "Seongbin Park", email = "shannonsbpark@gmail.com" },
    { name = "Jingchen Tang", email = "tangtang1228@ucla.edu" },
    { name = "Aditya Grover", email = "adityag@cs.ucla.edu" },
]
description = "ClimateLearn: Benchmarking Machine Learning for Data-driven Climate Science"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Development Status :: In Progress",
    "Programming Language :: Python :: 3",
    "License :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "black",
    "cdsapi",
    "dask",
    "importlib-metadata==4.13.0",
    "pytorch-lightning", 
    "matplotlib",
    "netcdf4",
    "rich",
    "scikit-learn",
    "timm",
    "wandb",
    "xarray",
]
# TODO: update code to use `lightning` intsead of `pytorch-lightning` since
# pip install pytorch-lightning has been deprecated and will stop being updated June 2023
# https://pytorch-lightning.readthedocs.io/en/latest/starter/installation.html#install-with-pip

[project.optional-dependencies]
docs = [
    "ipython",
    "nbsphinx",
    "sphinx==5.3.0",
    "sphinx_rtd_theme==1.1.1"
]
test = [
    "pytest"
]

[project.urls]
"Source" = "https://github.com/aditya-grover/climate-learn"
"Issue Tracker" = "https://github.com/aditya-grover/climate-learn/issues"
"Documentation" = "https://climatelearn.readthedocs.io/en/latest/"
